body
{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color:rgb(58, 133, 233);
    color: rgb(0, 0, 0);
}
header
{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Configurar foto de perfil */
.foto-perfil
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);

}

section{
    margin: 30px;
    pad: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}



footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}